<p class="text-center">Please select a function for this device</p>
<div class="large-12 small-12 columns">
	<a class="topcoat-button--cta large-12 small-12 text-center button alert" href="#/waiter">Waiter</a>
</div>
<div class="large-12 small-12 columns">
	<a class="topcoat-button--cta large-12 small-12 text-center" href="#/kitchen">Kitchen</a>
</div>
<div class="large-12 small-12 columns">
	<a class="topcoat-button--cta large-12 small-12 text-center" href="#/bar">Bar</a>
</div>
<div class="large-12 small-12 columns">
	<a class="topcoat-button--cta large-12 small-12 text-center button success" href="#/manager">Manager</a>
</div>