<div class="large-12 small-12 columns">
	<h3>Product <em>{{product.name}}</em></h3>
	<form name="productform" method="post" autocomplete="off" class="simple-form">
		<div class="row collapse">
			<div class="large-2 small-3 columns">
				<span class="prefix">Name</span>
			</div>
			<div class="large-10 small-9 columns">
				<input type="text" name="name" value="{{product.name}}" placeholder="Name" ng-model="product.name" />
			</div>
		</div>
		<div class="row collapse">
			<div class="large-2 small-3 columns">
				<span class="prefix">Price</span>
			</div>
			<div class="large-10 small-9 columns">
				<input type="text" name="price" value="{{product.price}}" placeholder="20,00" ng-model="product.price" />
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 small-12 columns">
				<label>Kitchen</label>
				<div class="switch large">
					<input id="z" name="kitchen" type="radio" ng-model="product.kitchen" value="0">
					<label for="z">Off</label>

					<input id="z1" name="kitchen" type="radio" ng-model="product.kitchen" value="1">
					<label for="z1">On</label>

					<span></span>
				</div>
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 small-12 columns">
				<label>Bar</label>
				<div class="switch large">
					<input id="z" name="bar" type="radio" ng-model="product.bar" value="0">
					<label for="z">Off</label>

					<input id="z1" name="bar" type="radio" ng-model="product.bar" value="1">
					<label for="z1">On</label>

					<span></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 small-12 columns">
				<input type="submit" class="button success radius large expand" ng-click="do(product)" name="submit" value="{{ pid == 'add' ? 'Add' : 'Edit' }}" />
			</div>
		</div>
	</form>
</div>