<div class="large-12 small-12 columns">
	<h3>Products list</h3>
	
	<table class="large-12 small-12" ng-if="products">
		<thead>
			<tr>
				<th width="60%">Product</th>
				<th width="10%">Price</th>
				<th width="30">Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products">
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td><a href="#/manager/products/{{product.pid}}" class="button radius large success">Edit</a><a href="#/manager/products/remove/{{product.pid}}" class="button radius large alert">Remove</a></td>
			</tr>
		</tbody>
	</table>

	<a class="topcoat-button--cta large-12 small-12 text-center" href="#/manager/products/add">Add product</a>
</div>